* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 50px auto;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 20px;
}

.joke {
  background-color: gray;
  width: 500px;
  padding: 20px;
}

.joke h2 {
  color: aqua;
}

.joke p {
  color: aquamarine;
  margin-top: 20px;
}

.university {
  background-color: silver;
  border: 1px solid greenyellow;
  width: 500px;
  padding: 20px;
}

.university p {
  margin-top: 20px;
}